<h2>PTG Landing Dashboard Test</h2>

<app-ag-table
  [name]="nameNR"
  [sourceData]="sourceDataNR"
>
</app-ag-table>

<app-ag-table
  [name]="nameARR"
  [sourceData]="sourceDataARR"
>
</app-ag-table>

<app-btn-view></app-btn-view>

<app-btn-qtr></app-btn-qtr>

<p></p>

<app-bar-pyr></app-bar-pyr>

<app-pie-chart
  [pieName]="pieNameRS"
  [pieClass]="pieClassRS"
  [categoryName]="categoryNameRS"
  [sourceData]="sourceDataPieRS"
></app-pie-chart>

<app-pie-chart
  [pieName]="pieNameGeo"
  [pieClass]="pieClassGeo"
  [categoryName]="categoryNameGeo"
  [sourceData]="sourceDataPieGeo"
></app-pie-chart>

